:root {
    --azul: #03658C;
    --corpo: 'Montserrat', sans-serif;
    --cortexto: #5B5B5B;
    --cortitulo: #373737;
    --logo: 'pirouregular';
    --roxoclaro:#EAEDFB;
    --rosaclaro: #F1E4F6;
    --goiabaclaro: #FBEBEB;

}
.depoimentos__textos,
.texto__descricao {
    color: var(--cortexto);
    font-family: var(--corpo);
}

.texto__descricao {
    font-size: 1.75rem;

}

.titulo__section {
    color: var(--cortitulo);
    font-family: var(--corpo);
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 4rem;

}

.titulo__ferr {
    color: var(--cortitulo);
    font-family: var(--corpo);
    font-size: 4rem;
}

.botao__verPerfis {
    background-color: var(--azul);
    border: none;
    border-radius: 5rem;
    color: #fdfdfd;
    font-family: var(--corpo);
    margin: 2rem;
    padding: 1rem 3rem;
}

.first {
    display: flex;
    padding: 0 2.5rem 7rem 2rem;
}

.second {
    display: flex;
    padding: 0 2.5rem 7rem 2rem;
}

.third {
    display: flex;
    padding: 0 2.5rem 7rem 2rem;
}

.mesa2 {
    width: 50%;
}

.test {
    width: 50%;
}

.mesa {
    width: 50%;
}

#frasesinha {
    font-size: 1rem;
    padding-top: 8rem;
}

.aprender {
    text-align: center;
}

.divBusca {
    background-color: rgba(3,101,140,0.24);
    border-radius: 2rem;
    margin-left: 21rem;
    width: 40rem;
}

#txtBusca {
    background-color: transparent;
    border: none;
    color: rgba(151, 151, 151, 0.71);
    font-family: var(--corpo);
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
    width: 40rem;
}
.depoimentos .titulo__section{
    text-align: center;
}
.depoimentos__textos{
    align-content: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 2rem 1rem;

}
.depoimentos__texto--box{
    display: flex;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 7rem 15rem;
}
.depoimentos__textos--two{
    padding-bottom: 0.5rem;
}
.depoimentos__maria{
    background-color: var(--roxoclaro);
    border: 0.2rem solid var(--azul);
    border-radius: 1rem;
    padding-bottom: 5rem;
}
.depoimentos__jua{
    background-color: var(--rosaclaro);
    border: 0.2rem solid var(--azul);
    border-radius: 1rem;
    margin: 0 4rem;
    padding-bottom: 5rem;
}
.depoimentos__josue{
    background-color: var(--goiabaclaro);    
    border: 0.2rem solid var(--azul);
    border-radius: 1rem;
    padding-bottom: 5rem;
}
.depoimentos__img{
    padding-left: 2rem;
}